html  {
    font-size: 16px;
    --main-bg-color: rgba(238, 236, 236, 0.596); 
    --main-border-color: rgba(202, 196, 196, 0.555);
    --sub-main-bg-color: rgba(87, 112, 255, 0.164);
    --sub-main-border-color: rgba(51, 51, 255, 0.363);
    --filling-bg-color:rgba(193, 253, 218, 0.342);
    --filling-border-color:rgba(1, 194, 81, 0.884);
    --main-text-color: black;
    --body-text-color:orange;
}


*{
    margin: 0;
    padding: 0;
}

.main-body {
    margin: 1% auto;
    width: auto;
    text-align: center;
    font-size:1.5rem;
    font-weight: 700;
    color: var(--body-text-color);
    box-sizing: border-box;
}   

.main-head, 
.left-section,
.right-section,
.left-section-nav,
.main-footer {
    border: 2px solid var(--main-border-color);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);   
}

.main-head-nav,
.righ-section-header,
.righ-section-nav,
.left-section-main-header,
.top-article,
.bot-article,
.left-section-footer {
    border: 1px solid var(--sub-main-border-color);
    background-color: var(--sub-main-bg-color);
    color: blue;   
}

.top-article-header,
.top-article-main-par,
.top-article-sub-par,
.top-article-sub-aside,
.top-article-footer,
.bot-article-header,
.bot-article-main-par,
.bot-article-sub-par,
.bot-article-sub-aside,
.bot-article-footer {
    border: 1px solid var(--filling-border-color);
    background-color: var(--filling-bg-color );
    color: rgb(0, 219, 0);   
}

.righ-section-header,
.left-section-main-header,
.left-section-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-head {
    padding-top: 1%;
    margin: 1% auto;
    width: 96%;  
    font-size:1.5rem;
    font-weight: 700;
    text-align: center;
    vertical-align: auto;
    box-sizing: border-box;
}

.main-head-nav {
    margin: 1% auto;
    height:50px;
    width: 96%;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-block-middle {
    margin: 2% auto;
    width: 96%;
    display: flex;
    justify-content: space-between;
}


.right-section,
.left-section {
    width: 29%;
    padding: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.right-section {
    width: 29%;
}
.left-section{
    width: 69%;
}

.righ-section-header,
.left-section-footer,
.left-section-main-header {
    margin: 1vh 0 0 0;
    height: 4vh;
    width: 100%;
}

.righ-section-nav{
    margin-top: 1.5vh;
    height: 63vh;
    width: 100%;
    padding: 1.5vh;
    box-sizing: border-box;
}

.top-article,
.bot-article {
    height: 28vh;
    margin-top: 1.5vh;
    box-sizing: border-box;
    width: 100%;
    padding: 0.8vh;
}

.top-article > div,
.bot-article > div {
    margin: 1.5vh 0;
    box-sizing: border-box;
    padding: 0.8vh;
}
.top-article > div:nth-child(3){
    padding: 0;
}
.left-section-footer{
    margin-top: 1vh;
}
.top-article-sub{

    display: flex;
    justify-content: space-between;
}
.top-article-sub-par,
.top-article-sub-aside {
    width: 49%;
    padding: 0.8vh;
    box-sizing: border-box;
}

.main-footer {
    width: 96%; 
    margin: 0 auto; 
    padding: 0.8vh;
    box-sizing: border-box;
}